*{
margin:0px auto; /*supaya layer otomatis mengisi dan ke tengah*/
}
body{font-family:calibri, verdana, sans-serif;}
 
#wrapper{width:100%;
position:relative; /*posisi disarankan*/
}
 .logo {
	width : 75px;
	height: 75px;
	position:fixed;
	z-index:1000;
	padding:0px 400px;
	}
	.l{position:fixed;
	z-index:1000;
	font-family : arial;
	font-weight:bold; 
	font-size : 17px;
	color : white;
	text-decoration : none;}
	
	.l:hover{background: ;color: white;font-size: 22px;border-radius: 3px;}

#header{
width:100%; /*supaya header memenuhi layar*/
z-index:1000;
position:fixed;
border-radius:2px;
height:110px; 
background:#800080;
}
#nav_menu {
			width : 100%;
			height : 33px;
			border-bottom : 2px solid #FFFFFF;
			margin-top : 15px;
			padding : 0;
			background : #800080; 
			text-align : center;
			position : relative;
			z-index : 1;
			}
			
#menu {
	font-family : arial;
	font-size : 14px;
	color : white;
	text-decoration : none;
	background : transparent;
	display : inline-table;
	padding-right : 25px;
	text-align : center;
	position : relative;
	}

#menu > a {
	font-family : arial;
	font-size : 14px;
	color : white;
	text-decoration : none;
	background : #800080;
	display : inline-table;
	}

/*#menu a:hover{
		background : #285E1D;
		border-bottom: 1px solid red;
		}*/
#menu:hover{
		background: ;color: white;font-size: 20px;
		border-bottom: 3px solid #12B412;
		text-align : center;
		transition: 0.5s;
		cursor: pointer;
		}
#kelembagaan{
   width: 100%;
   height : 450px;
   border : 1px solid black;
 
   }
   #mennu1 { display : none;
margin-left : -5px;
color : #000000;
width: 180px;
position : relative;

}
#mennu1 td { 
	color : #000000;
	width: 180px;
	position : relative;
	padding-top : 10px;
	background:#FFFFFF;
}
#mennu1 td a{ 
	color : #000000;
	text-decoration : none;
	font-family : arial;
	font-size : 14px;
	padding : 10px;
	width : 158px;
	
}
#menu:hover > table{
position : absolute;
transition: 0.5s;
background: ;color: white;font-size: 20px; border-radius: 3px;
background :  #FFFFFF;
color : white;
display : block;
}

#mennu1 td :hover{
transition: 0.5s;
background: ;color: red;font-size: 17px; border-radius: 3px;
}

#box {
	text-align : center;
	width : 100%;
	height : 250px;
	background :#44D924;
}
#header a.title{
color:#f0f0f0; 
font-weight:bold; 
text-decoration:none; 
font-size:30px; 
line-height:60px; /*supaya baris judul terlihat rapi, berikan nilai line-height yg sama dengan height #header.*/
padding:0px 20px; /*padding 20px di kiri dan kanan saja*/
}
 
#content{
position: fixed; background:url("../img/li.jpg");height: 78%; width: 100%; background-size: 100%;


}
iframe{height:760px;width:1250px;
	position:relative;
		margin-top:60px;
		padding:0;
		}
.stmik{
color:#FFFFFF;
font-weight:bold; 
text-decoration:none; 
font-size:20px; 
line-height:20px; /*supaya baris judul terlihat rapi, berikan nilai line-height yg sama dengan height #header.*/
padding:20px 500px; /*padding 20px di kiri dan kanan saja*/
}
#footer{
position:relative; /*posisi disarankan*/
background:#800080;
height:35px;
margin-top:527px;
}
